<div class="comics">

    <img class="img" (click)="openDialog(0)" src="../../assets/dball.jpg" />
    <img class="img" (click)="openDialog(1)" src="../../assets/ac.jpg" />
	<img class="img" (click)="openDialog(2)" src="../../assets/naruto.jpg" />
	<img class="img" (click)="openDialog(3)" src="../../assets/opiece.jpg" />
    <img class="img" (click)="openDialog(4)" src="../../assets/berserk.jpg" />
    <img class="img" (click)="openDialog(5)" src="../../assets/dnote.jpg" />
    <img class="img" (click)="openDialog(6)" src="../../assets/aot.jpg" />

</div>