<div class="fondo">
<br>
<h1>BEST COMICS & MANGA's</h1><br>

<div [@animacionCuadro]="estadoCuadro" class="cuadro"></div>

<button style="margin-left: 25%;" mat-flat-button (click)="anterior()">ANTERIOR</button>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;
<button mat-flat-button (click)="siguiente()">SIGUIENTE</button>


<br><br><br>

<div [@animacionEpilepsia]="estadoDiv" class="epilepsia"></div>

<div style="margin-left: 30%;"><button mat-flat-button (click)="lila()">CAMBIAR COLOR</button>
&nbsp;&nbsp;&nbsp;
<button mat-flat-button (click)="aumentar()">AUMENTAR/DISMINUIR</button>
&nbsp;&nbsp;&nbsp;
<button mat-flat-button (click)="bordes()">REDONDEAR</button></div>

<br>

</div>